@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Iceland, Avengero, sans-serif;
}

:root {
  font-size: calc(10px + 0.3vh + 0.4vw);
}

nav {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #222;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 2;
}

#logo {
  height: 98px;
  width: 98px;

}

#logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  flex: 0.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 2rem;
}
ul li {
  cursor: pointer;
}

/* background */
main {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('https://gh.cdn.sewest.net/assets/ident/news/02936c4f/Marvel_s_Avengers_WT3_Thor-g1v05178m.jpg?quality=65');
  background-repeat: no-repeat;
  background-size: cover;
}
main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.content {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  left: 3rem;
  width: 55%;
  z-index: 2;
}
.content > * {
  color: lightskyblue;
  text-shadow: 0 0 10px cyan, 0 0 20px white;
}
.content h1 {
  font-size: 10rem;
  text-align: center;
}
.content p {
  margin-top: 2rem;
  font-size: 1.3rem;
  line-height: 1.5;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
}

@media all and (min-width: 1024px) and (max-width: 1280px) { 
main {
    background-image: url('https://www.pinkvilla.com/files/styles/amp_metadata_content_image_min_696px_wide/public/avengers-endgame-star-chris-hemsworth-on-fat-thor-i-know-how-my-wife-feels-now-when-she-was-pregnant.jpg?itok=cTkEsrfD');
}
.content > * {
  color: red;
  text-shadow: 0 0 10px cyan, 0 0 20px white;
}
ul {
  font-size: 30px;
}
}


@media all and (min-width: 768px) and (max-width: 1024px) {
main {
    background-image: url('https://www.pinkvilla.com/files/styles/amp_metadata_content_image_min_696px_wide/public/avengers-endgame-star-chris-hemsworth-on-fat-thor-i-know-how-my-wife-feels-now-when-she-was-pregnant.jpg?itok=cTkEsrfD');
}
ul {
  font-size: 20px;
}
.content > * {
  color: lightsalmon;
  text-shadow: 0 0 10px cyan, 0 0 20px white;
}

}
@media all and (min-width: 480px) and (max-width: 768px) { 
main {
    background-image: url('https://www.pinkvilla.com/files/styles/amp_metadata_content_image_min_696px_wide/public/avengers-endgame-star-chris-hemsworth-on-fat-thor-i-know-how-my-wife-feels-now-when-she-was-pregnant.jpg?itok=cTkEsrfD');
}
ul {
  font-size: 10px;
}
.content > * {
  color: lightcyan;
  text-shadow: 0 0 10px cyan, 0 0 20px white;
}
ul {
  font-size: 10px;
}

}

@media all and (max-width: 480px) { 
main {
    background-image: url('https://www.pinkvilla.com/files/styles/amp_metadata_content_image_min_696px_wide/public/avengers-endgame-star-chris-hemsworth-on-fat-thor-i-know-how-my-wife-feels-now-when-she-was-pregnant.jpg?itok=cTkEsrfD');
}
.content > * {
  color: lightgreen;
  text-shadow: 0 0 10px cyan, 0 0 20px white;
}
ul {
  font-size: 10px;
}
}